###ENVIRONMENT VARAIBLES
SetEnv PZPHP_ENVIRONMENT local

###BASIC CONFIG
Options -Indexes +FollowSymLinks
ServerSignature Off
IndexIgnore *
RewriteEngine on

###HTACCESS PROTECTION
<Files ~ "^.*\.([Hh][Tt][Aa])">
order allow,deny
deny from all
satisfy all
</Files>

##CATCHALL FOR ROUTING
####enable it if you plan to use the Routing Module
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule .* bootstrap.php [NC]

###INJECTION PREVENTION
####these catches are disabled by default
####feel free to uncomment them as you see fit
#RewriteCond %{QUERY_STRING} (\"|%22).*(\>|%3E|<|%3C).* [NC]
#RewriteRule ^(.*)$ bootstrap.php?action=htaccessProtection [NC]
#RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC]
#RewriteRule ^(.*)$ bootstrap.php?action=htaccessProtection [NC]
#RewriteCond %{QUERY_STRING} (javascript:).*(\;).* [NC]
#RewriteRule ^(.*)$ bootstrap.php?action=htaccessProtection [NC]
#RewriteCond %{QUERY_STRING} mosConfig_[a-zA-Z_]{1,21}(=|\%3D) [OR]
#RewriteCond %{QUERY_STRING} base64_encode.*\(.*\) [OR]
#RewriteCond %{QUERY_STRING} (\<|%3C).*script.*(\>|%3E) [NC,OR]
#RewriteCond %{QUERY_STRING} (\<|%3C).*iframe.*(\>|%3E) [NC,OR]
#RewriteCond %{QUERY_STRING} GLOBALS(=|\[|\%[0-9A-Z]{0,2}) [OR]
#RewriteCond %{QUERY_STRING} ^(.*)cPath=http://(.*)$ [NC,OR]
#RewriteCond %{QUERY_STRING} ^(.*)/self/(.*)$ [NC,OR]
#RewriteCond %{QUERY_STRING} _REQUEST(=|\[|\%[0-9A-Z]{0,2})
#RewriteRule ^(.*)$ bootstrap.php?action=htaccessProtection [NC]
#RewriteCond %{REQUEST_METHOD} ^(TRACE|TRACK)
#RewriteRule .* bootstrap.php?action=htaccessProtection [NC]
